<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <h3>Advertencia</h3>
  <p>Esta seguro de Eliminar?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>SI</button>
  <button mat-button mat-dialog-close>NO</button>
</mat-dialog-actions>
