<div class="wrapper">
  <form name="loginForm" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="container">
      <input type="text" placeholder="Usuario" name="uname" id="username" #username="ngModel"
             [(ngModel)]="form.username" required>
      <div *ngIf="f.submitted && username.invalid" style="color: red; padding: 2px;" >
        <div *ngIf="form.get('username').errors?.required" class="corporateA-Medium">* Username es requerido</div>
      </div>

      <input type="password" placeholder="Password" name="psw" id="password" #password="ngModel"
             [(ngModel)]="form.password" autocomplete="password" required>

      <div *ngIf="f.submitted && password.invalid" style="color: red; padding: 2px;" >
        <div *ngIf="form.get('password').errors?.required" class="corporateA-Medium">* Password es requerido</div>
      </div>

      <button type="submit">Login</button>
    </div>
  </form>
  <footer><a target="blank" href="http://boudra.me/">boudra.me</a></footer>
</div>
