.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: left;
}

.example-full-width {
  width: 100%;
  margin-bottom: 10px;
}

.actions {
  margin-bottom: 10px !important;
}
