<div class="example-container" style="background: #b1b1b1; margin: 1%; padding: 2%;">
  <form class="example-form" [formGroup]="form" autocomplete="off">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fecha de nacimiento:</mat-label>
      <input matInput type="text" formControlName="birthday">
      <mat-error *ngIf="isControlHasError('birthday', 'required')">
        <strong>Campo requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Precion:</mat-label>
      <input matInput type="number" formControlName="bpressure" min="0">
      <mat-error *ngIf="isControlHasError('bpressure', 'required')">
        <strong>Campo requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Genero:</mat-label>
      <input matInput type="text" formControlName="gender">
      <mat-error *ngIf="isControlHasError('gender', 'required')">
        <strong>Campo requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Altura:</mat-label>
      <input matInput type="number" formControlName="height" min="0">
      <mat-error *ngIf="isControlHasError('height', 'required')">
        <strong>Campo requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre:</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-error *ngIf="isControlHasError('name', 'required')">
        <strong>Campo requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Peso:</mat-label>
      <input matInput type="number" formControlName="weight" min="0">
      <mat-error *ngIf="isControlHasError('weight', 'required')">
        <strong>Campo requerido</strong>
      </mat-error>
    </mat-form-field>


  </form>
  <mat-card-actions class="actions">
    <button mat-button (click)="clearForm()">Limpiar</button>
    <button mat-stroked-button [disabled]="form.invalid" (click)="create(form)">{{label}}</button>
  </mat-card-actions>
</div>
